html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #666;
}

.pimg1 {
  background-image: url(./images/image1.png);
  min-height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.textbg {
  display: flex;
}
